
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
<link href="~/Content/Own/AboutandContact.css" rel="stylesheet" />
    </head>
<div class="container-fluid">
    <div class="overlayed">
        <div class="about">
            <div id="ab">
                <h2><span style="background-color:green; color:yellow;">About</span><span style="background-color:yellow;color:green;"> Us</span></h2>
                <p>
                    ShepHerd.com is a Information portal for Tourists which offers the tourists a broad array of information of tourist spots, attractions, cultures, and about the related vendors, arranged in a way that is most convenient for the tourist to access and receive the service of knowledge
                    and adventure. It is designed, implemented in a way
                    that it can become the starting or entry point of a tourist introducing him into various information, resources and other sites in the internet about tour. It has the facility for tourists to
                    check and search the different tourist spots around the world, different vendors including hotels, travel agents, tour guide and restaurants. Here a tourist can hold an account give his reviews about a place or add a place as a tourist attraction, track his adventure diary and be a host as well. Here vendors also can have an account and give their special offers <br />
                    to the tourists and let tourists know about their facilities. The main aim of this web site is to create a gateway for tourists where they can come and design their trip.



                </p>
            </div>
            <br />


            <div id="Manager">
                <h2><span style="background-color:green; color:yellow;">Made</span><span style="background-color:yellow;color:green;"> by</span></h2><br />
                <img src="~/Content/Images/124530.jpg" alt="Samia Bari" style="float:left;margin-top:5px;" />
                <div id="para">
                    <p style="margin-left:50px;">


                        This website is made by Samia Bari, a student of Computer Science and Engineering Department of East West University.<br /> The Project has been submitted to the Department of the Computer Science and Engineering at East West University in the partial fulfillment of the requirement for the degree of Bachelor of Science in Computer Science and Engineering.
                        <br />  August, 2017


                    </p>
                </div>
            </div>
            <br />
            <div id="Contact">
                <h2><span style="background-color:green; color:yellow;">Contact</span><span style="background-color:yellow;color:green;"> Us</span></h2>
                <p>
                    <name>Name: Samia Bari <br />Id: 2011-3-60-027</name><br />
                    <email>Email: samiabari5.sb@gmail.com</email>
                    <address>East West University <br />Computer Science And Engineering Department</address>

                </p>
            </div>
        </div>
    </div>
    </div>