<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
   
    <link href="~/Content/Own/Try.css" rel="stylesheet" />
    <title>Error</title>
</head>
<body>
    <div class="container-fluid">
        <hgroup>
            <h1>Error.</h1>
            <h2>An error occurred while processing your request.</h2>
        </hgroup>
        </div>
</body>
</html>
